a{
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}
/* ヘッダー　左 */
.header-box{
  height: 70px;
  width: 1024px;
  margin: auto;
}
.header-img{
  height: 70px;
  float: left;
}
/* ヘッダー　右 */
.header-right{
  float: right;
}
.nav-lists{
  color: #FAFAFA;
  font-size: 16px;
  float: left;
  padding: 0 30px;
  line-height: 70px;
}
.nav-lists a{
  color: #FAFAFA;
}
/* メイン */
.main-img{
  background-image: url(img/mv.png);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
}
.main-title{
  padding-top: 200px;
  text-align: center;
  font-size: 64px;
  color: #FAFAFA;
  font-weight: bold;
}
.main-text{
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #FAFAFA;
}

/* ポートフォリオ */
.portfolio-box{
  width: 100%;
  background-color: #ECEFF1;
}
.portfolio-center{
  width: 920px;
  margin: 0 auto;
  text-align: center;
}
.portfolio-title{
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  font-weight: bold;
}
.portfolio-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}
.portfolio-text{
  padding: 30px 0;
  font-size: 16px;
  color: #000;
}
.portfolio-imgs{
  padding-bottom: 90px;
}
.portfolio-img{
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
}
.portfolio-img:nth-child(n + 4){
  margin-top: 10px;
}
.portfolio-img:nth-child(1){
  margin-right: 10px;
}
.portfolio-img:nth-child(4){
  margin-right: 10px;
}
.portfolio-img:nth-child(3){
  margin-left: 10px;
}
.portfolio-img:nth-child(6){
  margin-left: 10px;
}

.pf1{
  background-image: url(img/sketch.jpg);
}
.pf2{
  background-image: url(img/websuku.png);
}
.pf3{
  background-image: url(img/write.jpg);
}
.pf4{
  background-image: url(img/webcamp.png);
}
.pf5{
  background-image: url(img/talk.jpg);
}
.pf6{
  background-image: url(img/webcamp-mother.png);
}

/* feature */

.feature-box{
  width: 100%;
}
.feature-center{
  width: 980px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
}
.feature-title{
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  font-weight: bold;
}
.feature-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}
.feature-text{
  padding: 30px 0;
  font-size: 16px;
  color: #000;
}
.Strength{
  margin-right: 10px;
  float: left;
  width: 320px;
  height: auto;
}
.Strength:last-child {
  margin-right: 0;
}
.Strength-title{
  font-weight: bold;
  font-size: 20px;
  color: #000;
  padding: 10px 0;
}
.Strength-text{
  text-align: left;
  font-size: 16px;
  color: #000;
}
.fa.fa-code.icon{
  font-size: 60px;
}
.fa.fa-desktop.icon{
  font-size: 60px;
}
.fa.fa-cogs.icon{
  font-size: 60px;
}

/* プロフィール */
.profile-box{
  width: 100%;
  background-color: #ECEFF1;
}
.profile-center{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.profile-title{
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  font-weight: bold;
}
.profile-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}
.profile-text{
  padding: 30px 0;
  font-size: 16px;
  color: #000;
}
.profile-group{
  height: auto;
  padding-bottom: 90px;
  width: 1024px;
}
/* 左 */
.profile-left{
  width: 50%;
  float: left;
}

.picture{
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
}
/* 右 */
.profile-right{
  width: 50%;
  float: right;
}
.introduction-title{
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: 20px 0 5px 0;
}
.introduction-text{
  font-size: 16px;
  color: #000;
  text-align: left;
}
.introduction-title:first-child {
  margin-top: 0;
}
/* 問い合わせ */
.contact-box{
  width: 100%;
}
.contact-center{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.contact-title{
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  font-weight: bold;
}
.contact-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}
.contact-text{
  padding: 30px 0;
  font-size: 16px;
  color: #000;
}
.contact-group{
  padding-bottom: 90px;
}

.contact-left{
  width: 50%;
  float: left;
}
.contact-left-center{
  width: 130px;
  margin: 0 auto;
  text-align: left;
}
.contact-right{
  width: 50%;
  float: right;
}
.contact-right-center{
  width: 170px;
  margin: 0 auto;
  text-align: left;
}
.information-title{
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 5px 0;
}
.information-title:first-child {
  margin-top: 0;
}
.information-text{
  text-decoration: underline;
  color: #212121;
  margin: 5px 0 20px 0;
}
.information-text:last-child{
  margin-bottom: 0;
}


.fa.fa-facebook.icon{
  font-size: 50px;
  margin-right: 20px;
}
.fa.fa-twitter.icon{
  font-size: 50px;
  margin-right: 20px;
}
.fa.fa-instagram.icon{
  font-size: 50px;
}
/* フッダー */
footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
}
.fooder-text{
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}